**1-Veriler için küçük bir ön bilgilendirme ve analiz alalım**

In [2]:
import pandas as pd
import numpy as np

In [2]:
pit_stops = pd.read_csv("pit_stops.csv")
drivers = pd.read_csv("drivers.csv")
constructors = pd.read_csv("constructors.csv")
races = pd.read_csv("races.csv")
results = pd.read_csv("results.csv")

In [16]:
#Dikkat time süreleri eksik bunun sebebi o yıllara ait verilerin olmaması olabilir.
pit_stops.describe

<bound method NDFrame.describe of        raceId  driverId  stop  lap      time duration  milliseconds
0         841       153     1    1  17:05:23   26.898         26898
1         841        30     1    1  17:05:52   25.021         25021
2         841        17     1   11  17:20:48   23.426         23426
3         841         4     1   12  17:22:34   23.251         23251
4         841        13     1   13  17:24:10   23.842         23842
...       ...       ...   ...  ...       ...      ...           ...
10985    1132       807     2   39  16:06:28   30.265         30265
10986    1132       840     2   39  16:06:33   29.469         29469
10987    1132       839     4   38  16:06:52   29.086         29086
10988    1132       815     4   47  16:20:38   28.871         28871
10989    1132       832     3   50  16:22:59   28.706         28706

[10990 rows x 7 columns]>

In [8]:
drivers.isnull().sum()

driverId       0
driverRef      0
number         0
code           0
forename       0
surname        0
dob            0
nationality    0
url            0
dtype: int64

In [11]:
constructors.isnull().sum()

constructorId     0
constructorRef    0
name              0
nationality       0
url               0
dtype: int64

In [12]:
races.isnull().sum()

raceId         0
year           0
round          0
circuitId      0
name           0
date           0
time           0
url            0
fp1_date       0
fp1_time       0
fp2_date       0
fp2_time       0
fp3_date       0
fp3_time       0
quali_date     0
quali_time     0
sprint_date    0
sprint_time    0
dtype: int64

In [13]:
results.isnull().sum()

resultId           0
raceId             0
driverId           0
constructorId      0
number             0
grid               0
position           0
positionText       0
positionOrder      0
points             0
laps               0
time               0
milliseconds       0
fastestLap         0
rank               0
fastestLapTime     0
fastestLapSpeed    0
statusId           0
dtype: int64

**2-SQL den data dataframini inceleyelim**

In [19]:
data = pd.read_csv("data.csv")
data

,raceId,year,round,circuitId,driverId,constructorId,pit_stop_time,winner
0,900,2014,1,1,3,131,23673.0,1
1,900,2014,1,1,3,131,24331.0,1
2,900,2014,1,1,4,6,21978.0,0
3,900,2014,1,1,4,6,22887.0,0
4,900,2014,1,1,8,6,21825.0,0
...,...,...,...,...,...,...,...,...
7974,1132,2024,12,9,855,15,33083.0,0
7975,1132,2024,12,9,857,1,29200.0,0
7976,1132,2024,12,9,857,1,29541.0,0
7977,1132,2024,12,9,858,3,29444.0,0
7978,1132,2024,12,9,858,3,32801.0,0

In [21]:
data.dtypes

raceId             int64
year               int64
round              int64
circuitId          int64
driverId           int64
constructorId      int64
pit_stop_time    float64
winner             int64
dtype: object

"circuitId", "driverId", "constructorId" sütunlarının kategorik değer olduğunu biliyoruz. bu sebeple one hot encoding yapmamız gerekiyor