In [1]:
import pandas as pd

In [2]:
races= pd.read_csv("races.csv")
races

,raceId,year,round,circuitId,name,date,time,url,fp1_date,fp1_time,fp2_date,fp2_time,fp3_date,fp3_time,quali_date,quali_time,sprint_date,sprint_time
0,1,2009,1,1,Australian Grand Prix,2009-03-29,06:00:00,http://en.wikipedia.org/wiki/2009_Australian_G...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
1,2,2009,2,2,Malaysian Grand Prix,2009-04-05,09:00:00,http://en.wikipedia.org/wiki/2009_Malaysian_Gr...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
2,3,2009,3,17,Chinese Grand Prix,2009-04-19,07:00:00,http://en.wikipedia.org/wiki/2009_Chinese_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
3,4,2009,4,3,Bahrain Grand Prix,2009-04-26,12:00:00,http://en.wikipedia.org/wiki/2009_Bahrain_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
4,5,2009,5,4,Spanish Grand Prix,2009-05-10,12:00:00,http://en.wikipedia.org/wiki/2009_Spanish_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1120,1140,2024,20,32,Mexico City Grand Prix,2024-10-27,20:00:00,https://en.wikipedia.org/wiki/2024_Mexico_City...,2024-10-25,18:30:00,2024-10-25,22:00:00,2024-10-26,17:30:00,2024-10-26,21:00:00,\N,\N
1121,1141,2024,21,18,São Paulo Grand Prix,2024-11-03,17:00:00,https://en.wikipedia.org/wiki/2024_S%C3%A3o_Pa...,2024-11-01,14:30:00,2024-11-01,18:30:00,\N,\N,2024-11-02,18:00:00,2024-11-02,14:00:00
1122,1142,2024,22,80,Las Vegas Grand Prix,2024-11-23,06:00:00,https://en.wikipedia.org/wiki/2024_Las_Vegas_G...,2024-11-21,02:30:00,2024-11-21,06:00:00,2024-11-22,02:30:00,2024-11-22,06:00:00,\N,\N
1123,1143,2024,23,78,Qatar Grand Prix,2024-12-01,17:00:00,https://en.wikipedia.org/wiki/2024_Qatar_Grand...,2024-11-29,13:30:00,2024-11-29,17:30:00,\N,\N,2024-11-30,17:00:00,2024-11-30,13:00:00
1124,1144,2024,24,24,Abu Dhabi Grand Prix,2024-12-08,13:00:00,https://en.wikipedia.org/wiki/2024_Abu_Dhabi_G...,2024-12-06,09:30:00,2024-12-06,13:00:00,2024-12-07,10:30:00,2024-12-07,14:00:00,\N,\N

In [20]:
racess=races[["circuitId","year","name"]]
racess=racess[racess["year"] >= 2022]
racess["name"].unique()

array(['Bahrain Grand Prix', 'Saudi Arabian Grand Prix',
       'Australian Grand Prix', 'Emilia Romagna Grand Prix',
       'Miami Grand Prix', 'Spanish Grand Prix', 'Monaco Grand Prix',
       'Azerbaijan Grand Prix', 'Canadian Grand Prix',
       'British Grand Prix', 'Austrian Grand Prix', 'French Grand Prix',
       'Hungarian Grand Prix', 'Belgian Grand Prix', 'Dutch Grand Prix',
       'Italian Grand Prix', 'Singapore Grand Prix',
       'Japanese Grand Prix', 'United States Grand Prix',
       'Mexico City Grand Prix', 'São Paulo Grand Prix',
       'Abu Dhabi Grand Prix', 'Qatar Grand Prix', 'Las Vegas Grand Prix',
       'Chinese Grand Prix'], dtype=object)

In [ ]:
circuits = {
    "Bahrain Grand Prix": 3,
    "Saudi Arabian Grand Prix": 77,
    "Australian Grand Prix": 1,
    "Emilia Romagna Grand Prix": 21,
    "Miami Grand Prix": 79,
    "Spanish Grand Prix": 4,
    "Monaco Grand Prix": 6,
    "Azerbaijan Grand Prix": 73,
    "Canadian Grand Prix": 7,
    "British Grand Prix": 9, 
    "Austrian Grand Prix": 70,
    "French Grand Prix": 34,
    "Hungarian Grand Prix": 11,
    "Belgian Grand Prix": 13,
    "Dutch Grand Prix" :  39,
    "Italian Grand Prix": 14,
    "Singapore Grand Prix": 15,
    "Japanese Grand Prix" : 22,
    "United States Grand Prix": 69,
    "Mexico City Grand Prix": 32,
    "São Paulo Grand Prix" : 18,
    "Abu Dhabi Grand Prix" : 24,
    "Qatar Grand Prix": 78,
    "Las Vegas Grand Prix": 80,
    "Chinese Grand Prix": 17,
}

In [21]:
racess[['circuitId', 'name']].drop_duplicates(subset='name')

      circuitId                       name
1036          3         Bahrain Grand Prix
1058         77   Saudi Arabian Grand Prix
1059          1      Australian Grand Prix
1060         21  Emilia Romagna Grand Prix
1061         79           Miami Grand Prix
1062          4         Spanish Grand Prix
1063          6          Monaco Grand Prix
1064         73      Azerbaijan Grand Prix
1065          7        Canadian Grand Prix
1066          9         British Grand Prix
1067         70        Austrian Grand Prix
1068         34          French Grand Prix
1069         11       Hungarian Grand Prix
1070         13         Belgian Grand Prix
1071         39           Dutch Grand Prix
1072         14         Italian Grand Prix
1073         15       Singapore Grand Prix
1074         22        Japanese Grand Prix
1075         69   United States Grand Prix
1076         32     Mexico City Grand Prix
1077         18       São Paulo Grand Prix
1078         24       Abu Dhabi Grand Prix
1095         78           Qatar Grand Prix
1099         80       Las Vegas Grand Prix
1105         17         Chinese Grand Prix

In [9]:
drivers=pd.read_csv("2-SQLite/data.csv")
drivers

,raceId,year,round,circuitId,driverId,constructorId,pit_stop_time,positionOrder,grid,points,laps,statusId
0,900,2014,1,1,3,131,23673.0,1,3,25.0,57,1
1,900,2014,1,1,3,131,24331.0,1,3,25.0,57,1
2,900,2014,1,1,4,6,21978.0,4,5,12.0,57,1
3,900,2014,1,1,4,6,22887.0,4,5,12.0,57,1
4,900,2014,1,1,8,6,21825.0,7,11,6.0,57,1
...,...,...,...,...,...,...,...,...,...,...,...,...
7974,1132,2024,12,9,855,15,33083.0,18,14,0.0,50,12
7975,1132,2024,12,9,857,1,29200.0,4,5,12.0,52,1
7976,1132,2024,12,9,857,1,29541.0,4,5,12.0,52,1
7977,1132,2024,12,9,858,3,29444.0,11,12,0.0,52,1
7978,1132,2024,12,9,858,3,32801.0,11,12,0.0,52,1

In [11]:

driverss=drivers[drivers["year"] >= 2022]
driverss["driverId"].unique()

array([  1,   4, 807, 815, 817, 822, 825, 830, 832, 839, 840, 842, 844,
       846, 847, 848, 849, 852, 854, 855,  20, 856, 858, 857, 859, 860],
      dtype=int64)

In [13]:
driver_name= pd.read_csv("2-SQLite/drivers.csv")
driver_name

,driverId,driverRef,number,code,forename,surname,dob,nationality,url
0,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
1,2,heidfeld,\N,HEI,Nick,Heidfeld,1977-05-10,German,http://en.wikipedia.org/wiki/Nick_Heidfeld
2,3,rosberg,6,ROS,Nico,Rosberg,1985-06-27,German,http://en.wikipedia.org/wiki/Nico_Rosberg
3,4,alonso,14,ALO,Fernando,Alonso,1981-07-29,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso
4,5,kovalainen,\N,KOV,Heikki,Kovalainen,1981-10-19,Finnish,http://en.wikipedia.org/wiki/Heikki_Kovalainen
...,...,...,...,...,...,...,...,...,...
854,856,de_vries,21,DEV,Nyck,de Vries,1995-02-06,Dutch,http://en.wikipedia.org/wiki/Nyck_de_Vries
855,857,piastri,81,PIA,Oscar,Piastri,2001-04-06,Australian,http://en.wikipedia.org/wiki/Oscar_Piastri
856,858,sargeant,2,SAR,Logan,Sargeant,2000-12-31,American,http://en.wikipedia.org/wiki/Logan_Sargeant
857,859,lawson,40,LAW,Liam,Lawson,2002-02-11,New Zealander,http://en.wikipedia.org/wiki/Liam_Lawson
858,860,bearman,38,BEA,Oliver,Bearman,2005-05-08,British,http://en.wikipedia.org/wiki/Oliver_Bearman

In [14]:
filtered_driver=driver_name[driver_name["driverId"].isin([  1,   4, 807, 815, 817, 822, 825, 830, 832, 839, 840, 842, 844,
       846, 847, 848, 849, 852, 854, 855,  20, 856, 858, 857, 859, 860])]
filtered_driver

,driverId,driverRef,number,code,forename,surname,dob,nationality,url
0,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
3,4,alonso,14,ALO,Fernando,Alonso,1981-07-29,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso
19,20,vettel,5,VET,Sebastian,Vettel,1987-07-03,German,http://en.wikipedia.org/wiki/Sebastian_Vettel
452,842,gasly,10,GAS,Pierre,Gasly,1996-02-07,French,http://en.wikipedia.org/wiki/Pierre_Gasly
807,807,hulkenberg,27,HUL,Nico,Hülkenberg,1987-08-19,German,http://en.wikipedia.org/wiki/Nico_H%C3%BClkenberg
814,815,perez,11,PER,Sergio,Pérez,1990-01-26,Mexican,http://en.wikipedia.org/wiki/Sergio_P%C3%A9rez
816,817,ricciardo,3,RIC,Daniel,Ricciardo,1989-07-01,Australian,http://en.wikipedia.org/wiki/Daniel_Ricciardo
821,822,bottas,77,BOT,Valtteri,Bottas,1989-08-28,Finnish,http://en.wikipedia.org/wiki/Valtteri_Bottas
824,825,kevin_magnussen,20,MAG,Kevin,Magnussen,1992-10-05,Danish,http://en.wikipedia.org/wiki/Kevin_Magnussen
829,830,max_verstappen,33,VER,Max,Verstappen,1997-09-30,Dutch,http://en.wikipedia.org/wiki/Max_Verstappen
831,832,sainz,55,SAI,Carlos,Sainz,1994-09-01,Spanish,http://en.wikipedia.org/wiki/Carlos_Sainz_Jr.
838,839,ocon,31,OCO,Esteban,Ocon,1996-09-17,French,http://en.wikipedia.org/wiki/Esteban_Ocon
839,840,stroll,18,STR,Lance,Stroll,1998-10-29,Canadian,http://en.wikipedia.org/wiki/Lance_Stroll
842,844,leclerc,16,LEC,Charles,Leclerc,1997-10-16,Monegasque,http://en.wikipedia.org/wiki/Charles_Leclerc
844,846,norris,4,NOR,Lando,Norris,1999-11-13,British,http://en.wikipedia.org/wiki/Lando_Norris
845,847,russell,63,RUS,George,Russell,1998-02-15,British,http://en.wikipedia.org/wiki/George_Russell_(r...
846,848,albon,23,ALB,Alexander,Albon,1996-03-23,Thai,http://en.wikipedia.org/wiki/Alexander_Albon
847,849,latifi,6,LAT,Nicholas,Latifi,1995-06-29,Canadian,http://en.wikipedia.org/wiki/Nicholas_Latifi
850,852,tsunoda,22,TSU,Yuki,Tsunoda,2000-05-11,Japanese,http://en.wikipedia.org/wiki/Yuki_Tsunoda
852,854,mick_schumacher,47,MSC,Mick,Schumacher,1999-03-22,German,http://en.wikipedia.org/wiki/Mick_Schumacher
853,855,zhou,24,ZHO,Guanyu,Zhou,1999-05-30,Chinese,http://en.wikipedia.org/wiki/Zhou_Guanyu
854,856,de_vries,21,DEV,Nyck,de Vries,1995-02-06,Dutch,http://en.wikipedia.org/wiki/Nyck_de_Vries
855,857,piastri,81,PIA,Oscar,Piastri,2001-04-06,Australian,http://en.wikipedia.org/wiki/Oscar_Piastri
856,858,sargeant,2,SAR,Logan,Sargeant,2000-12-31,American,http://en.wikipedia.org/wiki/Logan_Sargeant
857,859,lawson,40,LAW,Liam,Lawson,2002-02-11,New Zealander,http://en.wikipedia.org/wiki/Liam_Lawson
858,860,bearman,38,BEA,Oliver,Bearman,2005-05-08,British,http://en.wikipedia.org/wiki/Oliver_Bearman

In [ ]:
drivers = {
    "Lewis Hamilton": 1,
    "Fernando Alonso": 4,
    "Sebastian Vettel": 20,
    "Pierre Gasly": 842,
    "Nico Hülkenberg": 807,
    "Sergio Pérez": 815,
    "Daniel Ricciardo": 817,
    "Valtteri Bottas": 822,
    "Max Verstappen": 830,
    "Carlos Sainz": 832,
    "Esteban Ocon": 839,
    "Lance Stroll": 840,
    "Charles Leclerc": 844,
    "Lando Norris": 846,
    "George Russell": 847,
    "Alexander Albon": 848,
    "Nicholas Latifi": 849,
    "Yuki Tsunoda": 852,
    "Mick Schumacher": 854,
    "Guanyu Zhou": 855,
    "Nyck de Vries": 856,
    "Oscar Piastri": 857,
    "Logan Sargeant": 858,
    "Liam Lawson": 859,
    "Oliver Bearman": 860,
}

In [18]:
constructors= pd.read_csv("2-SQLite/data.csv")
constructors

,raceId,year,round,circuitId,driverId,constructorId,pit_stop_time,positionOrder,grid,points,laps,statusId
0,900,2014,1,1,3,131,23673.0,1,3,25.0,57,1
1,900,2014,1,1,3,131,24331.0,1,3,25.0,57,1
2,900,2014,1,1,4,6,21978.0,4,5,12.0,57,1
3,900,2014,1,1,4,6,22887.0,4,5,12.0,57,1
4,900,2014,1,1,8,6,21825.0,7,11,6.0,57,1
...,...,...,...,...,...,...,...,...,...,...,...,...
7974,1132,2024,12,9,855,15,33083.0,18,14,0.0,50,12
7975,1132,2024,12,9,857,1,29200.0,4,5,12.0,52,1
7976,1132,2024,12,9,857,1,29541.0,4,5,12.0,52,1
7977,1132,2024,12,9,858,3,29444.0,11,12,0.0,52,1
7978,1132,2024,12,9,858,3,32801.0,11,12,0.0,52,1

In [19]:
constructorss=constructors[constructors["year"]>= 2022]
constructorss["constructorId"].unique()

array([131, 214, 117,   9,   1,  51, 210,   6, 213,   3, 215,  15],
      dtype=int64)